<!-- SPDX-License-Identifier: AGPL-3.0-or-later -->

<meta name="referrer" content="no-referrer" />

<script type="module" src="/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="module" src="/ajax/libs/dompurify/3.0.5/purify.min.js"></script>
<script type="module" src="/ajax/libs/wolfree/2023.8.31/js/onload.js"></script>

<link rel="preload" as="style" onload="this.onload = null; this.rel = 'stylesheet';"
    href="/ajax/libs/wolfree/2023.8.31/css/Placeholder.css" />
<link rel="preload" as="style" onload="this.onload = null; this.rel = 'stylesheet';"
    href="/ajax/libs/wolfree/2023.8.31/css/PodsParser.css" />

<style>
    html>body>#__next>div>header {
        visibility: hidden;
        height: 5rem;
    }

    html>body>#__next>div>footer {
        visibility: hidden;
    }

    html>body>#__next>div>main>main>span,
    html>body>#__next>div>main>main a[href*="/pro/pricing/students/"],
    html>body>#__next>div>main>main a[href*="/pro/pricing/students/"]~*,
    html>body>#__next>div>main>main>div>a,
    html>body>#__next>div>main>main>div>a>img[src*="../_next/static/images/Logo_"][alt*="WolframAlpha computational knowledge AI"],
    html>body>#__next>div>main>main>div>div>nav>a~button,
    html>body>#__next>div>main>main>div>div>nav>div>div>ul>li~li~li,
    /* Derivative[9][y][x] == y[x] */
    html>body>#__next>div>main>main>div>div>div[class=""],
    html>body>#__next>div>main>main>div>div>div>section>section> :not(div, ul, header, button),
    /* Wolfram|Alpha Copyable Plain Text */
    html>body>#__next>div>main>main>div>div>div>section>section>header>h2> :not(span),
    html>body>#__next>div>main>main>div>div>div>section>section>div> :not(h2, select, span, div),
    html>body>#__next>div>main>main>div>div>div>section>section>div>div> :not(img, button, div, a),
    html>body>#__next>div>main>main a[href*="/pro/pricing/"],
    html>body>#__next>div>main>main a[href*="/pro/pricing/"]~*,
    html>body>#__next>div>main>main a[href*="/pro-premium-expert-support"],
    html>body>#__next>div>main>main a[href*="/pro-premium-expert-support"]~*,
    /* "isGDPR": true */
    html>body>#__next>div>section {
        display: none;
    }

    html>body>header {
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    html>body>header>nav {
        text-align: center;
        display: flex;
        max-width: 780px;
        margin: auto;
    }

    html>body>header>nav>a {
        font-family: sans-serif;
        text-decoration: none;
        flex: auto;
        margin: 1rem 0;
        padding: 1rem 0;
    }
</style>

<!--
    Regex in regex - Rust
    https://docs.rs/regex/latest/regex/struct.Regex.html#replacement-string-syntax
-->
$0

<header>
    <nav>
        <a href="../">Wolfree</a>
        <a href="../mirror">Mirror</a>
        <a href="../source">Source</a>
    </nav>
</header>