/* SPDX-License-Identifier: AGPL-3.0-or-later */

.wolfree-placeholder {
  display: flex;
  width: 100%;
  justify-content: center;
  /* padding: 26px 40px 20px; */
  padding: 26px 0 0;
}

.wolfree-placeholder>div {
  position: relative;
}

.wolfree-placeholder>div {
  max-width: 780px;
  width: 100%;
}

.wolfree-placeholder>div>div {
  box-shadow: 0 0 10px 0 hsla(0, 0%, 80%, 0.5), 0 0 1px 0 hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
}

.wolfree-placeholder>div>div>div {
  min-height: 16vh;
  background: #fdfdfd;
  opacity: 1;
  border-bottom: 1px solid transparent;
}

.wolfree-placeholder>div>div>div:nth-of-type(1)>div {
  background-image: linear-gradient(90deg,
      #f5f5f5 50%,
      #ebebeb 60%,
      #f5f5f5 70%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wolfree-placeholder>div>div>div:nth-of-type(2)>div {
  background-image: linear-gradient(90deg,
      #f5f5f5 30%,
      #ebebeb 40%,
      #f5f5f5 50%);
}

.wolfree-placeholder>div>div>div:nth-of-type(3)>div {
  background-image: linear-gradient(90deg,
      #f5f5f5 10%,
      #ebebeb 20%,
      #f5f5f5 30%);
}

.wolfree-placeholder>div>div>div>div {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wolfree-placeholder>div>div>div>div {
  background-size: 1200%;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: _QC3H;
  animation-name: _QC3H;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.45, 1, 1);
  animation-timing-function: cubic-bezier(0.55, 0.45, 1, 1);
}

@keyframes _QC3H {
  0% {
    background-position: 100% 0;
  }

  to {
    background-position: -100% 0;
  }
}