/* SPDX-License-Identifier: AGPL-3.0-or-later */

.markdown {
    --ifm-h2-vertical-rhythm-top: 3;
}

:root {
    --ifm-menu-link-padding-vertical: calc(var(--ifm-menu-link-padding-horizontal) * 1.5);
    --ifm-toc-padding-vertical: calc(var(--ifm-toc-padding-horizontal) * 2);
    --ifm-color-primary: blue;
    --ifm-color-gray-700: black;
    --ifm-color-gray-800: black;
    --ifm-color-gray-900: black;
    --ifm-color-secondary-contrast-foreground: black;
    --ifm-color-content-secondary: black;
}

.markdown>h1 {
    /* Style the <h1> on http://localhost/source */
    margin-top: calc(var(--ifm-h2-vertical-rhythm-top) * var(--ifm-leading));
}

:root {
    --wolfree-heading-zoom: 0.75;
}

h1 {
    font-size: calc(max(1rem, var(--ifm-h1-font-size) * var(--wolfree-heading-zoom)));
}

h2 {
    font-size: calc(max(1rem, var(--ifm-h2-font-size) * var(--wolfree-heading-zoom)));
}

h3 {
    font-size: calc(max(1rem, var(--ifm-h3-font-size) * var(--wolfree-heading-zoom)));
}

h4 {
    font-size: calc(max(1rem, var(--ifm-h4-font-size) * var(--wolfree-heading-zoom)));
}

h5 {
    font-size: calc(max(1rem, var(--ifm-h5-font-size) * var(--wolfree-heading-zoom)));
}

h6 {
    font-size: calc(max(1rem, var(--ifm-h6-font-size) * var(--wolfree-heading-zoom)));
}

.footer__link-item {
    line-height: 3;
}

.alert {
    --ifm-link-color: unset;
}